@import "../../_globals";
@import "../../colors";

.HotelDetail {
    text-align: center;

    img {
        max-width: 400px;
        max-height: 400px;
        @include border(#000, 2px);
    }
}
