@import "../../_globals";
@import "../../colors";

.CountryItem {
    width: 150px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 2px 3px $light-gray;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    @include border($light-gray);

    &:hover, &:active {
        background-color: #C0DDF5;
    }

    h3 {
        font-size: 15px;
        padding: 10px 0;
    }

    img {
        width: 50px;
        height: 30px;
    }
}
