@import '../../colors';
@import '../../_globals';

.Button {
    color: #FFF;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    @include border($light-gray, 5px);

    &.Success {
        background-color: $medium-green;

        &:hover {
            background-color: $light-green;
        }
    }

    &.Danger {
        background-color: #944317;
    }

    &:disabled {
        color: #AFAFAF;
        background-color: $light-gray;
        cursor: not-allowed;

        &:hover {
            background-color: $light-gray;
        }
    }
}
