$shadow-item: 0 0 1px;

@mixin shadow($color) {
    text-shadow: $shadow-item $color, $shadow-item $color, $shadow-item $color, $shadow-item $color;
}

.HotelItemCard {
    width: 400px;
    height: 400px;
    overflow-y: visible;
    background-color: #4ED38C;
    color:#333;
}

.HotelItemCard a {
    color: #276843;
    font-size: 20px;
}

.HotelItemCard a:hover {
    color: #FFD800;
}

.HotelItemCard img {
    width: 100%;
    height: 70%;
    margin: auto;
    border: 1px solid #000;
    border-radius: 2px;
}

.Star {
    color: #343A40;
    @include shadow(#343A40);
}

.CheckedStar {
    color: #FFD119;
    @include shadow(black);
}