@import '../../colors';
@import '../../_globals';

.HotelList {
    .Counter {
        color: $dark-green;
        padding: 10px;
        @include bottom-border(#ccc);
        margin-bottom: 5px;
        background-color: $light-yellow;

        > div:first-child {
            display: inline-block;
            left: 50%; /* left-align your element to center */
            transform: translateX(-50%); /* offset left by half the width of your element */
            position: absolute; /* use or dont' use depending on element parent */
        }

        > div:last-child {
            padding-right: 10px;
        }
    }
}
