$light-blue: #5ACEB5;
$light-blue-highlight: #6CF7DB;
$medium-blue: #009DFF;
$light-green: #4ED38C;
$light-green-highlight: #76E2A8;
$light-green-background: #C9EFE5; //#D2F4E3//#94D3C4
$medium-green: #5AB690;
$dark-green: #2B5B50;
$title-green: #3B7F70;
$yellow: #FFD800;
$light-yellow: #D9E55C;
$dark-yellow: #DBB600;
$black-background-hover: #1D1D1D;
$black-border-hover: #2D2D2D;
$light-gray: #ccc;
$medium-gray: #9E9E9E;
$light-background: #EEE;
