$light-blue: #5ACEB5;
$light-blue-highlight: #6CF7DB;
$light-green: #4ED38C;
$light-green-highlight: #76E2A8;
$medium-green: #5AB690;
$dark-green: #2B5B50;
$title-green: #3B7F70;
$yellow: #FFD800;
$light-yellow: #D9E55C;
$black-backgound-hover: #1D1D1D;
$black-border-hover: #2D2D2D;
